<div class="ink-grid">

	<div class="space"></div>

	<div class="column-group">
		<div class="hide-small hide-medium large-15"></div>
		<div class="small-100 medium-100 large-70 box">
			
			<h3>{{model.title}}</h3>
			
			{{code-box body="var test = 1;"}}
			
		</div>
	</div>
	
</div>